   /* h1{
        background-color: rgb(17, 5, 237);
        color: rgb(1, 9, 16); 
        text-align: center;
     } 
 body{
    background-color: black;
    .bg-blue-h1{
        background-color: aquamarine;
    }
 } */


.bg-red-h1{
   background-color: rgb(21, 233, 67);
   font-family: cursive;
   font-size: medium;
   text-align: center;
   letter-spacing: 5ch;
   text-decoration: underline dashed;
}

.bg-blue-h1{
   background-color: rgb(81, 158, 158);
   font-family: cursive;
   padding: 50px;
   border: 5px solid black;
   border-radius: 50px;
   border-style: dashed;
   text-align: center;
}

.bg-green-h1{
   background-color: rgb(115, 10, 227);
}

#pg-background{
   background-color: rgb(205, 19, 19);
   
}

/* *{
   background-color: black;
   margin: 0%;
   padding: 0%;
} */

body{
   background-image: url(../img/background.jpg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment:fixed;
   background-position: center;
   
}

.pg-background{
   background-color: rgb(136, 136, 5);
   margin: 20px;
   padding: 10px;

}

#box01{
   width: 50px;
   height: 50px;
   background-color: brown;
   position:static;
   top: 10px;
   /* right: 20px; */
   border-radius: 50%;
   z-index: -1;
   
}

#box02{
   width: 100px;
   height: 100px;
   margin-top: 50px;
   background-color: blue;
}
